{% extends "h-layout.html" %}
{% block content %}

        <div class="meio1">
            <img src="https://www.cloudcomputing-news.net/media/img/news/isometric-people-team-management-concept-vector-id949895970.jpg.800x600_q96.png" width="320" height="260">   
            <div class="p-card1">
                <p>descrição de iniciar projeto enchendolinguiçapontocompontobr</p>
                <a href="/css/" target="_blank">Estou começando um projeto</a>
            </div>
        </div>

        <div class="meio2">
            <img src="https://www.cloudcomputing-news.net/media/img/news/isometric-people-team-management-concept-vector-id949895970.jpg.800x600_q96.png" width="320" height="260">
            <div class="p-card2">
                <p>descrição de ja tenho projeto enchendolinguiçapontocompontobr</p>
                <a href="/css/" target="_blank">Já tenho um projeto</a>
            </div>
        </div>
        
{% endblock content %}