div.meio1{
  	text-align: center;
	width: 24%;
	height:60.972973%;
  	padding: 20px;
  	border: 3px solid gray;
  	margin-left: 20%;
  	margin-top: 10%
}
div.p-card1{
	padding-top: 20px;
	padding-bottom: 20px;
}
div.meio2{
  	text-align: center;
	width: 24%;
	height:60.972973%;
  	padding: 20px;
  	border: 3px solid gray;
  	margin-left: 55%;
  	margin-top: -32.3%
}
div.p-card2{
	padding-top: 20px;
	padding-bottom: 20px
}